{{#section 'css'}}
{{/section}}

{{#section 'script'}}
{{/section}}

<h1>sungjuk 전체리스트입니다</h1>
<table>
    <tr><th>번호</th><th>이름</th><th>국어</th>
        <th>영어</th><th>수학</th><th>등록일</th></tr>
    <!-- 리스트행 시작 -->
    {{#sjs}}
        <tr><td>{{sjno}}</td>
            <td> <a href="/viewsungjuk?sjno={{sjno}}">{{name}}</a> </td>
            <td>{{kor}}</td><td>{{eng}}</td><td>{{mat}}</td><td>{{regdate}}</td></tr>
    {{/sjs}}
</table>

