{{#section 'css'}}
{{/section}}

{{#section 'script'}}
{{/section}}

<h1>sungjuk 상세 정보 페이지입니다</h1>
{{#sjs}}
    <div>번호 : {{sjno}}</div>
    <div>이름 : {{name}}</div>
    <div>국어 : {{kor}}</div>
    <div>영어 : {{eng}}</div>
    <div>수학 : {{mat}}</div>
    <div>총점 : {{tot}}</div>
    <div>평균 : {{avg}}</div>
    <div>학점 : {{grd}}</div>
    <div>등록일 : {{regdate}}</div>
{{/sjs}}
<p><a href="/showsungjuk">성적 리스트로</a></p>
